/*
 * basic styles for slideshows
 * some of these are simply sane defaults, like padding on img,
 * others are functional, such as hiding .view items which are not :first-child
 */


.block-views_slideshows div.content {
  padding-top:9px;
}

.block-views_slideshows div.content .view {
  display:none;
  opacity:0;
}

.block-views_slideshows div.content .view:first-child {
  display:block;
  opacity:1;
}

.block-views_slideshows div.content .view .view-content>* {
  margin:auto;
}

.block-views_slideshows div.content img {
  margin-right:14px;
  padding: 4px
}
